body{
    margin: 0;
    padding: 0.5rem;
    font-family: sans-serif;
}

label{
    display: block;
    margin: 1 rem 0;
    padding: 0.5rem;
    background-color: ghostwhite; 

}

*{
    box-sizing: border-box;
}